*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: aliceblue;
}

h1{
    font-size: 40px;
    color: rgb(79, 8, 105);
}

.info{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(79, 8, 105);
    border: 1px solid aliceblue;
    background-color: aliceblue;
}

#block{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
}

button{
    size: inherit;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(79, 8, 105);
    background-color: rgb(79, 8, 105);
    font-size: 30px;
    text-decoration: underline;
    color: white;
} 

.active{
    color: rgb(79, 8, 105) !important;
    background-color: aliceblue !important;
    border: 1px solid rgb(79, 8, 105) !important;
}

#turn{
    margin-block: 10px;
    outline-style: solid;
    outline-offset: 3px;
    outline-width: 3px;
    outline-color: rgb(79, 8, 105);
}

#reset{
    margin-block: 10px;
}

#table{
    width: 60%;
    align-content: center;
    margin: auto;
}

#board{
    margin: auto;
    display: grid;
    border: 1px solid rgb(79, 8, 105);
    border-radius: 20px;
    grid-template-columns:[pre] 1fr [start] 1fr [middle] 1fr [end] 1fr [post];
    gap: 20px;
}
.r{
    grid-column-start: middle;
    grid-column-end: end;
}
.l{
    grid-column-start: start;
    grid-column-end: middle;
}
.pre{
    grid-column-start: pre;
    grid-column-end: start;
}
.post{
    grid-column-start: end;
    grid-column-end: post;
}

.mancala{
    grid-column-start: start;
    grid-column-end: end;
}

.pit{
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    border-radius: 35px;
    height: fit-content;
    background-color: rgb(79, 8, 105);
}